.com-pop-help
  background  white
  width 4.5rem
  height 7rem
  padding-top .5rem
  border-radius .3rem
  //width  calc(var(--app-width) * 0.7 )
  //height calc(var(--app-height) * 0.7 )
  .close-btn
    position absolute
    right -.4rem
    top -.4rem
    img
      width 1rem
  .handle-btn
    text-align center
    padding .2rem 0
    img
      width 1.2rem
      height auto
  .i-know
    text-align center
    padding-top .4rem
    img
      width 1.2rem