.com-menu-circle-sm
  position absolute
  bottom 1rem
  left 50%
  transform translateX(-50%)

  .main-menu
    left -.5rem
    top -.5rem
    img
      width 1.2rem

  .back-btn
    left: .8rem;
    top: -1.5rem;
    img
      width 0.9rem
  .btn-first-page
    left: -1.5rem;
    top: -1.5rem;
    img
      width 0.9rem
