.com-menu-circle
  position absolute
  bottom 1rem
  left 50%
  transform translateX(-50%)

  .main-menu
    left -.5rem
    top -.5rem
    img
      width 1.2rem

  .back-btn
    left: 1rem;
    top: -1rem;
    img
      width 0.9rem
  .btn-720
    left: -.4rem;
    top: -1.5rem;
    img
      width 0.9rem
  .btn-first-page
    left: -1.9rem;
    top: -1rem
    img
      width 0.9rem
