.com-menu-circle-d
  position absolute
  bottom 1rem
  left 50%
  transform translateX(-50%)

  .mybtn
    top: -1.5rem;
    img
      width 0.9rem

  .main-menu
    left -.5rem
    top -.5rem
    img
      width 1.2rem

  .back-btn
    left: 1.4rem;

  .btn-house
    left: -1.8rem;
  .btn-po
    left: -.8rem;
  .btn-720
    left: .4rem;

  //.btn-first-page
  //  left: -1.9rem;

