.com-menu-circle-720
  position absolute
  bottom 1rem
  left 50%
  transform translateX(-50%)

  .mybtn
    top: -1.5rem;
    img
      width 0.9rem

  .main-menu
    left -.5rem
    top -.5rem
    img
      width 1.2rem

  .back-btn
    left: 1.1rem;

  .btn-house
    left: -1.8rem;
  .btn-po
    left: -.4rem;
