
.com-live-block-pos

  .title-line
    padding-top .3rem
  .mytitle
    text-align center
    padding-top .2rem
    font-size .28rem
    font-family "黑体"
    color white





  //.info1
  //  background url('/static/images/block/back_区位图底图.jpg')
  //  background-size 100% auto
  //  background-repeat:no-repeat;