.com-live-contact
  background url('/static/images/back_通用底图.jpg')
  height var(--app-height)
  width var(--app-width)
  background-size 100% auto
  background-repeat:no-repeat;
  background-position center
  font-size .3rem
  position relative;

  .contace0
    padding-top 2rem
    text-align center
    img
      width 1rem

  .contace1
    padding-top .5rem
    text-align center
    img
      width 4rem
  .contact2
    padding-top 2rem
    text-align center
    img
      width 1.2rem
  .contact3
    padding 1rem
    text-align center
    img
      width 4rem

  .normal-back-btn
    position absolute
    left 50%
    bottom .6rem
    transform translateX(-50%)
    img
      width 1rem