.com-live-garden
  text-align center
  font-size .28rem
  font-family "黑体"
  color white
  vertical-align middle
  .title1
    padding-top .4rem
  .title2
    padding-top .3rem
    font-family Cambria
    font-size .16rem
  .title4
    padding-top .3rem
    font-size .2rem
    line-height .5rem