.btn-animate
  .fade-in-btn
    opacity 0
    animation  fade-in .4s
    animation-fill-mode forwards;

.com-live-home
  //height var(--app-height)
  //width var(--app-width)
  height 100%
  width 100%
  font-size .3rem
  position relative;
  overflow auto
  -webkit-overflow-scrolling: touch;
  .scroll-area
    height 100%
    width 100%
    overflow hidden

    position relative;
    background url('/static/1123/back.jpg')
    background-size 100% auto
    background-repeat:no-repeat;
    background-position center

  //.fade-in-btn
  //  opacity 0
  //  animation  fade-in .4s
  //  animation-fill-mode forwards;
  @keyframes  fade-in
    from
      opacity 0
    to
      opacity 1
  .btn_block
    animation-delay 500ms
  .produce
    animation-delay 1000ms
  .contact
    animation-delay 1500ms
  .middle-wrap
    width 0
    height 0
    position absolute
    top 50%
    left 50%

    .light
      position absolute
      top: -3.8rem;
      left: -4.8rem;
      animation lightmove 5s linear infinite; //alternate;
      opacity 0
      @keyframes lightmove
        0%
          opacity 0
        10%
          opacity .4
          //transform scale(0.5)
        30%
          opacity 1
          //transform scale(1)  //translate(-.4rem,.4rem)
        40%
          opacity 0
          //transform scale(0.7)
        100%
          opacity 0
          //transform scale(0.5)


      img
        width 7.2rem
        height auto
    .liuxing
      position absolute
      //transition  transform  8s
      top: -15rem;
      left: -8rem;
      animation liuxingmove 10s infinite ;
      img
        width 7rem
        height auto
      @keyframes liuxingmove
        from
          transform translate(0, 0)
        to
          transform translate(13rem, 17rem)


    .mybtn
      position absolute
      text-align center
      img
        width 1rem
      .mytitle
        letter-spacing .4rem
        font-size .2rem
        color white
        white-space nowrap
        span
          letter-spacing 0
      &.active
        z-index 900
        position relative
        &::before
          pointer-events none
          z-index 800
          content ''
          display block
          position absolute
          width .6rem
          height .6rem

          border-width .1rem
          border-style solid
          top .46rem
          left .46rem
          box-sizing border
          transform translate(-50%,-50%)
          animation spread 3s infinite ;
          //-webkit-backface-visibility: hidden;
          @keyframes spread
            0%
              opacity 0
              width 1rem
              height 1rem
              border-radius 1rem
              border-width 0
              background-color white
              border-color rgba(100, 100,100, 0.3)
            5%
              opacity .3
              width 1rem
              height 1rem
              border-radius 1rem
              border-width .1rem
              background-color white
              border-color rgba(100, 100,100, 0.3)
            100%
              opacity 0
              width 2.6rem
              height 2.6rem
              border-radius 2.6rem
              border-width 1rem
              //display none
              border-color rgba(100, 100,100, 0)
        //&::after
        //  z-index 700
        //  content ''
        //  display block
        //  position absolute
        //
        //  width .6rem
        //  height .6rem
        //  top .46rem
        //  left .46rem
        //  transform translate(-50%,-50%)
        //  opacity 0
        //  animation-fill-mode forwards
        //  animation spread2 3s infinite
        //  animation-delay 200ms
        //  @keyframes spread2
        //    from
        //      opacity .6
        //      width .6rem
        //      height .6rem
        //      border-radius .3rem
        //      background-color white
        //    to
        //      opacity 0
        //      width 2rem
        //      height 2rem
        //      border-radius 1rem

    .btn_500
      left -2.5rem
      top -3rem
    .btn_block
      left -.9rem
      top -1.2rem
    .produce
      left -.3rem
      top 1rem
    .contact
      left -.2rem
      top 3.4rem
      .mytitle
        letter-spacing .1rem
    .block-posion
      left -.2rem
      top -2.8rem
      animation-delay 500ms
    .six
      left .8rem
      top -1.7rem
      animation-delay 1000ms
    .garden
      left 1rem
      top -.4rem
      animation-delay 1500ms

    .overloap-btn
      left: .5rem;
      top: -.5rem
      animation-delay 500ms
    .tall-build
      left: 1.4rem;
      top: .6rem
      animation-delay 1000ms
    .fashion
      left: 1rem;
      top: 2rem;
      animation-delay 1500ms



  .after-btn
    z-index 900

  .my-model
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background rgba(0,0,0,.3)
