.com-live-home
  background url('/static/images/底.jpg')
  height var(--app-height)
  width var(--app-width)
  background-size 100% auto
  background-repeat:no-repeat;
  background-position center
  font-size .3rem
  position relative;
  //background-origin content-box

  .middle-wrap
    width 0
    height 0
    position absolute
    top 50%
    left 50%

    .mybtn
      position absolute
      text-align center
      img
        width 1rem
      .mytitle
        letter-spacing .4rem
        font-size .2rem
        color white
        span
          letter-spacing 0

    .btn_500
      left -2.5rem
      top -3rem
