.com-live-home
  background url('/static/images/底.jpg')
  height var(--app-height)
  width var(--app-width)
  background-size 100% auto
  background-repeat:no-repeat;
  background-position center
  font-size .3rem
  //background-origin content-box