.com-live-page500
  background url('/static/images/page500/back_品牌.jpg')
  height var(--app-height)
  width var(--app-width)
  background-size 100% auto
  background-repeat:no-repeat;
  background-position center
  font-size .3rem
  position relative;

  .page500-back-btn
    position absolute
    bottom 1rem
    left 50%
    transform translateX(-50%)
  .mytitle
    padding-top 1rem
    text-align center
    img
      width 2.6rem
      height auto
  //.mytitle2
  //  padding-top 1rem
  //  text-align center
  //  img
  //    width 1.6rem
  //    height auto