.com-live-page-3d
  background url('/static/images/pic_3d背景图.jpg')
  height var(--app-height)
  width var(--app-width)
  background-size 100% auto
  background-repeat:no-repeat;
  background-position center
  font-size .3rem
  position relative;

