.com-live-page-2d
  height var(--app-height)
  width var(--app-width)
  font-size .3rem
  position relative;
  background white

  //background url('/static/images/pic_3d背景图.jpg')
  //background-size 100% auto
  //background-repeat:no-repeat;
  //background-position center
  .content
    width 100%
    height 100%
    overflow auto
    -webkit-overflow-scrolling: touch;
    img
      width 100%
      height auto