.normal-back-btn
  position absolute
  left 1rem
  bottom 1rem

.banner
  img
    width 100%
    height auto


.general-page
  background url('/static/images/back_通用底图.jpg')
  height var(--app-height)
  width var(--app-width)
  background-size 100% auto
  background-repeat:no-repeat;
  background-position center
  font-size .3rem
  position relative;

.mybtn
  position absolute
  text-align center
  img
    width 1rem