
.banner
  img
    width 100%
    height auto


.general-page
  height 100%
  width 100%
  font-size .3rem
  position relative;
  overflow auto
  -webkit-overflow-scrolling: touch;
  .scroll-area
    height 100%
    width 100%
    overflow hidden

    position relative;
    background url('/static/images/back_通用底图.jpg')
    background-size 100% auto
    background-repeat:no-repeat;
    background-position center


.normal-back-btn
  position absolute
  left .6rem
  bottom .6rem
  img
    width .8rem

.right-top-back-btn
  position absolute
  right .5rem
  top .5rem
  img
    width .8rem

.mybtn
  position absolute
  text-align center
  img
    width 1rem

.devid-line
  text-align center
  img
    width 4rem

.right-title
  color white
  font-size .3rem
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing .16rem
  position absolute
  right .5rem
  bottom .3rem
  font-family "楷体"
  font-size .4rem
  font-weight 800

