.com-live-video-page
  background-color black
  width 100%
  height 100%
  position relative
  .video-content
    width 100%
    height auto
    position absolute
    top 50%
    transform translateY(-50%)